

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: "Poppins", sans-serif;
}

body{
    background:#eef2f3;
}

header{
    background:#367588;
    color:white;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 50px;
}

header a{
    color:#eef5f7;
    text-decoration:none;
    font-weight:bold;
    font-size:18px;
    font-family: "Poppins", sans-serif;
}

.container{
    width:500px;
    margin:50px auto;
    text-align:center;
}



input{
    width:100%;
    padding:20px;
    border:1px solid #999;
    border-radius:30px;
    margin-bottom:20px;
    font-size:16px;
}

.esqueci{
    display:block;
    text-align:right;
    color:#367588;
    margin-bottom:40px;
    font-weight:bold;
    cursor:pointer;
}

.button{
    width:100%;
    padding:12px;
    border:none;
    border-radius:30px;
    background:#d1d1d1;
    color:#367588;
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
    font-family: "Poppins", sans-serif;
}

.button:hover{
    background:#c4c4c4;
}

p{
    margin-top:40px;
} 

p a{
    color:#4b8aa0;
    font-weight:bold;
}
label{
    display:block;
    text-align:left;
    margin-bottom:5px;
    font-weight:bold;
}
h2{
    margin-bottom:30px;
    color:#367588;
    font-size:40px;
    font-family: "Poppins", sans-serif;
    font-weight: 750;
    font-style: normal;
}
h1{
    font-size:35px;
    font-weight:bold;
    color:#eef5f7;
    font-family: "Poppins", sans-serif;
}
