*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-color:#EEF5F7;
}

img{
    border-radius: 20px;
    width: 100%;
   
}

.banner{
    margin-top: 50px;
  
}


.imagens2{
    width: 100%;
    max-width: 320px; 
    background-color: #e0e0e0; 
    padding: 7px; 
    border-radius: 20px;
    height: 100%;
    margin-top: 30px;
   
}
    

.container{
    display: flex;
    margin-top: 30px;
    justify-content: space-around;

    
        
}

.titulo{
    font-size: 20px;;
    color: #007395;
    font-family: poppins;
    text-align: center;
}

.banner2{
    margin-top: 60px;

}
.texto{
    font-family: poppins;
    text-align: center;
    font-size: 12px;
 
}





header{
    background:#2f7990;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 10px 60px;
}

.logo img{
    height: 70px;
    width: auto;
    transform: scale(2.3);
}

.busca{
    display:flex;
}

.busca input{
    width: 500px;
    padding:8px;
    border:none;
    border-radius:20px 0 0 20px;
}

.busca button{
    padding:8px 12px;
    border:none;
    border-radius:0 20px 20px 0;
    cursor:pointer;
    background-color: #ffffff;
}

.busca img{
    height: 12px;
    width: auto;
    transform: scale(1.5);
}

.icons{
    display:flex;
    align-items:center;
    gap: 20px;
}

.icons img{
    transform: scale(1.3);
    width:20px;
    height:20px;
}

.icons a{
    color:white;
    text-decoration:none;
    transform: scale(0.3s);
}


.user{
   position: relative;
   left: 10px;
   bottom: 3px;
}

nav{
    background:#d6e8ed;
    text-align:center;
    padding:10px;
}

nav a{
    text-decoration:none;
    color:#000000;
    margin:0 20px;
    transition: 0.3s;
}

nav a:hover{
    color: #FFD036;}



.tiktok{
    width: 25px;
}
footer{
    background:#2f7990;
    color:white;
    text-align:center;
    padding: 40px;
    position: relative;
    margin-top: 60px;
}
.logorodape{
   position:absolute;
    bottom: 10px;
    right: 1px;
    width: 280px;
 }

.apps{
    width: 30px;
 }
